<h2>C言語ソースコードを実行する手順</h2>

C言語ソースコードを実行する手順を解説します。コンパイル・リンク・実行という流れがありますが、まずは実行することを目標にしてみましょう。<a href="/blog/20201124085008.html">C言語開発環境の構築</a>ができていることが前提です。

<h3>コンパイルとリンクで実行ファイルを生成</h3>

コンパイルとリンクを行って、実行ファイルを生成するにはgccコマンドで、「-o」オプションを使用します。

「-o」オプションで出力ファイル名を指定します。

<pre>
gcc -o 出力ファイル名 入力ファイル名
</pre>

このコマンドでは、コンパイルとリンクの作業を一度に行ってしまいます。入力ファイルが一つなので、リンクした気分にはならないです。リンクという言葉の意味もまだ説明していません。まず実行できるところまでを、試してみましょう。

「test.c」というC言語ソースファイルから「test」という実行ファイルを作成してみましょう。

<pre>
// test.c

#include <stdio.h>

int main(void) {
  printf("Hello World!\n");
}
</pre>

gccコマンドで実行ファイルを生成します。

<pre>
gcc -o test test.c
</pre>

<h3>実行ファイルを実行する</h3>

作成された実行ファイルを実行しましょう。実行ファイルというのは、一般的にいうプログラムのことです。

<pre>
# 実行ファイル(プログラム)を実行する
./test
</pre>

出力結果です。

<pre>
Hello World!
</pre>

先頭に「./」が付いているところに注目してください。<a href="https://linux.perlzemi.com/">Unix/Linux</a>では、セキュリティリスクを減らすために「test」と記述しただけでは、実行ファイルが実行できないようになっています。カレントディレクトリの実行ファイルを実行する場合は、「./」をつける必要があると覚えておきましょう。絶対パスであれば、このようなことを意識する必要はないです。

コンパイル・リンク・実行を一行で書くこともできます。

<pre>
gcc -o test test.c && ./test
</pre>
