<h2>uint64_t - 符号なし64bit整数型</h2>

「uint64_t」は符号なし64bit整数型です。「stdint.h」をインクルードすることで使えます。C99で導入された型です。

<pre>
# 符号なし64bit整数型
uint64_t
</pre>

符号なし64bit整数型が表現できる整数の最大値は「4294967295」、最小値は「0」です。

最大値は「<a href="/blog/20201108150850.html">UINT64_MAX - uint64_tの最大値を表す定数</a>」というマクロで定義されています。

<h3>uint64_tのサンプルコード</h3>

uint64_tを使ったサンプルコードです。符号あり64bit整数の値を超えおり、符号なし64bit整数であることを示すために、フォーマット指定子で「%llu」、整数リテラルで「ULL」サフィックスを使っています。

<pre>
#include <stdio.h>
#include <stdint.h>

int main(void) {
  uint64_t num = 18446744073709551615ULL;
  
  printf("%llu\n", num);
}
</pre>

出力結果。

<pre>
18446744073709551615
</pre>
