<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">C言語</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/types.html">
        <span itemprop="name">C言語の型</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2>int32_t - 符号あり32bit整数型</h2>

「int32_t」は符号あり32bit整数型です。「stdint.h」をインクルードすることで使えます。「<a href="/blog/20210220132505.html">stdint.h</a>」ヘッダをインクルードすることで使えます。<a href="/blog/20201206125815.html">C99</a>で導入された型です。

<pre>
# 符号あり32bit整数型
int32_t
</pre>

符号あり32bit整数型が表現できる整数の最大値は「2147483647」、最小値は「-2147483648」です。

最大値は「<a href="/blog/20201129082751.html">INT32_MAX</a>」、最小値は「<a href="/blog/20201128082751.html">INT32_MIN</a>」というマクロで定義されています。

<h3>int32_tのサンプルコード</h3>

int32_tを使ったサンプルコードです。

<pre>
#include <stdio.h>
#include <stdint.h>

int main(void) {
  int32_t num = -2147483648;
  
  printf("%d\n", num);
}
</pre>

<a href="/blog/20210419083246.html">printf関数</a>のフォーマット指定子で「%d」を使っています。

出力結果。

<pre>
-2147483648
</pre>
