<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">C言語</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/library.html">
        <span itemprop="name">C標準ライブラリ</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/library/float.html">
        <span itemprop="name">float.h</span>
      </a>
      <meta itemprop="position" content="3" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2>FLT_MAX - floatの正の最小値を表す定数</h2>

FLT_MAXは<a href="/blog/20201202133213.html">float - 単精度(32bit)浮動小数点型</a>の正の最大値を表す定数です。「float.h」をインクルードすると利用できます。

<pre>
#include <stdio.h>
#include <float.h>

int main(void) {
  printf("%f\n", FLT_MAX);
}
</pre>

FLT_MAXの値です。

<pre style="word-break:break-all;">
340282346638528859811704183484516925440.000000
</pre>

<h3>floatの負の最小値を表す定数</h3>

負の最大値はマイナス符号をつけて「-FLT_MAX」で表現できます。
