<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">C言語</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/library.html">
        <span itemprop="name">C標準ライブラリ</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/library/stdint.html">
        <span itemprop="name">stdint.h</span>
      </a>
      <meta itemprop="position" content="3" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2>INT64_MIN - int64_tの最小値を表す定数</h2>

INT64_MINは<a href="/blog/20201127082751.html">int64_t - 符号あり64bit整数型</a>の最小値を表す定数です。「stdint.h」をインクルードすると利用できます。

<pre>
#include <stdio.h>
#include <stdint.h>

int main(void) {
  printf("%lld", INT64_MIN);
}
</pre>

INT64_MINの値です。

<pre>
-9223372036854775808
</pre>

INT64_MINはC99で導入されたマクロです。
