<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">C言語</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/compile.html">
        <span itemprop="name">コンパイル</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2>実行ファイルを実行する</h2>

実行ファイルを実行する方法を解説します。実行ファイルとは、単にプログラムのことだと考えてください。実行ファイルを実行するは、プログラムを実行すると同じ意味です。

<h3>パーミッションの設定</h3>

実行ファイルを実行するには、ファイルに実行権限が必要です。gccで生成された実行ファイルには、デフォルトで実行権限がつきます。

<a href="https://linux.perlclub.net/blog/20191126082723.html">lsコマンド</a>の「-l」オプションを使って、ファイルの実行権限を見てみましょう。

<pre>
ls -l
</pre>

実行ファイルである「test」にだけ、「x」という実行権限がついていますね。

<pre>
-rwxrwxr-x  1 kimoto kimoto    6702 Dec 14 14:42 test
-rw-r--r--  1 kimoto kimoto      78 Dec 11 10:52 test.c
-rw-rw-r--  1 kimoto kimoto    1488 Dec 14 14:37 test.o
</pre>

参考情報として、実行権限を与えるには<a href="https://linux.perlclub.net/blog/20200519082545.html">chmod</a>コマンドを使うことを覚えておきましょう。

<h3>実行ファイルを実行する</h3>

実行ファイルを実行するには、ファイル名を指定して「Enter」を押します。

<pre>
実行ファイル名
</pre>

一つの注意点は<a href="https://linux.perlclub.net">UNIX/Linux</a>では、カレントディレクトリにある実行ファイルを実行する場合は「./」と先頭につける必要があることです。

<pre>
./test
</pre>

絶対パスや相対パスでも実行ファイルを実行できます。

<pre>
# 絶対パスで実行
/foo/bar/test

# 相対パスで実行
bar/test
</pre>
