<h2>ローカル変数</h2>

C言語のローカル変数について解説します。ローカル変数は、関数の内部で宣言された変数のことです。

<h3>ローカル変数の宣言</h3>

変数の宣言は以下の構文で行います。

<pre>
型名 変数名;
</pre>

関数の中で記述された変数宣言は、ローカル変数の宣言になります。

<pre>
int main (void) {
  型名 変数名;
}
</pre>

int32_t型の変数宣言をするサンプルを書いてみます。

<pre>
#include <stdint.h>

int main (void) {
  int32_t num;
}
</pre>

<h3>ローカル変数の初期化</h3>

変数宣言は、変数の初期化と同時に行うことができます。

<pre>
#include <stdint.h>

int main (void) {
  int32_t num = 1;
}
</pre>

C言語では、変数の初期化を行わない場合に、自動的に0に初期化されず、値は不定になるということに注意してください。

<a href="https://tutorial.perlzemi.com/blog/20161107147852.html">Perlの変数</a>の場合は<a href="https://tutorial.perlzemi.com/blog/20100220126425.html">未定義値undef</a>で初期化される点が異なります。

<h3>ローカル変数のスコープ</h3>

C言語のローカル変数の<a href="/blog/20210311085419.html">スコープ</a>について書いておきます。C言語ではスコープを「{}」を使って記述できます。スコープの中で変数宣言を行うことができます。変数はスコープの中でだけ参照することができます。関数の中でだけスコープを使用できます。

<pre>
#include <stdint.h>

int main (void) {
  {
    int32_t num1;
    
    1 + 1;
    
    int32_t num2;
  }
}
// この位置ではnum1, num2は見えない。
</pre>

<h3>C99からはどの位置でもローカル変数宣言が可能</h3>

<a href="/blog/20201206125815.html">C99</a>からはどの位置でもローカル変数宣言が可能になりました。ローカル変数の宣言は、ブロックの先頭でなければならないという制約はなくなりました。

<pre>
#include <stdint.h>

int main (void) {
  {
    int32_t num1 = 5;
    
    1 + 1;
    
    // どの位置でもローカル変数の宣言が可能
    int32_t num2 = 4;
  }
}
</pre>

<h3>静的ローカル変数</h3>

C言語では、ローカル変数にstatic修飾子をつけることで、静的ローカル変数を宣言できます。

<pre>
int foo (void) {
  // 静的ローカル変数
  static foo = 1
}
</pre>

静的ローカル変数という名前ですが、実際の役割について考えると、スコープのあるグローバル変数と考えるのがよいです。

寿命は、プログラムの開始から最後までですが、スコープを持たせて、スコープ外から直接アクセスさせないようにできます。

静的ローカル変数は、グローバル変数と同じく0(すべてのビットが0)で初期化されます。

静的ローカル変数は、式が実行され代入が行われると、その値は、プログラムの最後まで変わりません。

代入される前は0、代入された後は、プログラム終了まで代入された値になります。

<h4>静的ローカル変数のサンプル</h4>

静的ローカル変数のサンプルです。

静的ローカル変数なんて「いったい、どこで使うんじゃ～。<a href="/blog/20210120133501.html">enum</a>や<a href="/blog/20210302083009.html">マクロ定数</a>使ったら、いいだろ～」。はい、ごもっともです。enumやマクロ定数が使える場合はそれを使ってください。

ここでのサンプルでは、グローバル変数を使わないで、文字列定数と文字列定数の配列を定義する方法を紹介します。この記述は、グローバル変数を使いたくないが、文字列定数や文字列定数の配列を定義したい場合に活用できます。

<pre>
#include <stdio.h>

const char* const_string (void);
const char* const* const_strings (void);

int main(void) {
  // 文字列定数を取得
  const char* string = const_string();
  
  printf("%s\n", string);
  
  // 文字列定数の配列を取得
  const char* const* strings = const_strings();

  printf("%s %s\n", strings[0], strings[1]);
}

// 文字列定数
const char* const_string (void) {
  static const char* string = "Hello";
  
  return string;
}

// 文字列定数の配列
const char* const* const_strings (void) {
  static const char* const strings[] = {
    "Apple",
    "Orange",
    "Grape",
  };
  
  return strings;
}
</pre>

出力結果です。

<pre>
Hello
Apple Orange
</pre>

「const char* const*」とconstが二回書かれているのは、配列の要素の書き換えを防ぐと同時に、文字列の要素(文字)の書き換えを防ぐためです。

C言語においては、constは、型キャストによって外すことができるので、これは、完全な定数ではなく、間違いが起こりにくくなる手法だと考えてください。

気が利く処理系では、静的領域を書き換えようとした場合は、メモリアクセス違反が起こります。
