<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">C言語</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/library.html">
        <span itemprop="name">C標準ライブラリ</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/library/stdint.html">
        <span itemprop="name">stdint.h</span>
      </a>
      <meta itemprop="position" content="3" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2>INT32_MAX - int32_tの最大値を表す定数</h2>

INT32_MAXは<a href="/blog/20201130082751.html">int32_t - 符号あり32bit整数型</a>の最大値を表す定数です。「stdint.h」をインクルードすると利用できます。

<pre>
#include <stdio.h>
#include <stdint.h>

int main(void) {
  printf("%d", INT32_MAX);
}
</pre>

INT32_MAXの値です。

<pre>
2147483647
</pre>

INT32_MAXはC99で導入されたマクロです。
