<h2>uint32_t - 符号なし32bit整数型</h2>

「uint32_t」は符号なし32bit整数型です。「stdint.h」をインクルードすることで使えます。C99で導入された型です。

<pre>
# 符号なし32bit整数型
uint32_t
</pre>

符号なし32bit整数型が表現できる整数の最大値は「4294967295」、最小値は「0」です。

最大値は「<a href="/blog/20201110150850.html">UINT32_MAX</a>」というマクロで定義されています。

<h3>uint32_tのサンプルコード</h3>

uint32_tを使ったサンプルコードです。符号あり32bit整数の値を超えおり、符号なし32bit整数であることを示すために整数リテラルで「U」サフィックスを使っています。

<pre>
#include <stdio.h>
#include <stdint.h>

int main() {
  uint32_t num = 4294967295U;
  
  printf("%u\n", num);
}
</pre>

出力結果。

<pre>
4294967295
</pre>
