<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">C言語</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/syntax.html">
        <span itemprop="name">基本文法</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2>ヘッダファイルの読み込み</h2>

includeマクロを使ってヘッダファイルを読み込む方法を解説します。

<pre>
#include ヘッダファイル名
</pre>

ヘッダファイル名は、システムのヘッダ読み込みパスである場合は「<ヘッダファイル名>」と書きます。

<pre>
#include <stdio.h>
</pre>

自作のライブラリで、システムのヘッダファイルの読み込みパスではない場所から、ライブラリのヘッダを読み込む場合は、「"ヘッダファイル名"」と書きます。

<pre>
#include "mylib.h"
</pre>

<h3>ヘッダファイル以外を読み込むことはできますか?</h3>

はい。ヘッダファイル以外を読み込むことはできます。でもおそらく、基本的には、それは望ましいことではないはずです。C言語を始めた段階で、もしヘッダファイル以外を読み込む必要があると考えたときは、少し立ち止まって考えてください。

ひとつの用途としては、大量の静的にデータを定義(Unicodeの文字の定義など)する場合に、ファイルを分けておきたいという理由で、利用されている例を見たことがあります。

<h3>システムのヘッダファイルの読み込みパスはどこで定義されていますか?</h3>

システムのヘッダの読み込みパスの一つはたとえば<a href="https://ubuntu.perlzemi.com/">Ubuntu</a>では「/usr/include」です。他の<a href="https://linux.perlzemi.com/">UNIX/Linux</a>ディストリビューションの場合は、異なったりします。

システムのヘッダファイルの読み込みパスを調べるにはどうすればよいのでしょうか?

実は、ヘッダーファイルの読み込みパスは、C言語のプリプロセッサに書き込まれています。

まず、gccが使っているプリプロセッサのパスを調べます。

<pre>
gcc -print-prog-name=cc1
</pre>

以下のように出力されます。

<pre>
/usr/lib/gcc/x86_64-linux-gnu/7/cc1
</pre>

プリプロセッサのバージョンを表示すると、インクルードパスをが表示されます。

<pre>
/usr/lib/gcc/x86_64-linux-gnu/7/cc1 -v
</pre>

デフォルトのヘッダーファイルの読み込みパスが表示されます。

<pre>
ignoring nonexistent directory "/usr/lib/gcc/x86_64-linux-gnu/7/../../../../x86_64-linux-gnu/include"
#include "..." search starts here:
#include <...> search starts here:
 /usr/lib/gcc/x86_64-linux-gnu/7/include
 /usr/local/include
 /usr/lib/gcc/x86_64-linux-gnu/7/include-fixed
 /usr/include
</pre>

<h3>なぜ標準ライブラリはヘッダファイルの読み込みだけで関数が利用できるのですか?</h3>

通常は、ヘッダファイルを読み込み、ライブラリあるいはオブジェクトファイルをリンクしないと、関数は利用できませんね。

「stdio.h」など、C言語標準のライブラリの場合は、この作業が必要ないですね。

実は、gccのリンクで実行ファイルが生成されるときに、C言語の関数が実装されたglibc(libc)と呼ばれるライブラリがリンクされます。

<h3>マクロとは何ですか?</h3>

C言語のマクロとは、#ではじまる一つの構文です。マクロの記述は、ソースコードのコンパイルが始まる前に、C言語プロプロセッサによってソースコードに展開されます。
