<h2>double - 倍精度(64bit)浮動小数点型</h2>

「double」は倍精度(64bit)浮動小数点型です。倍精度というのは単に64bitという意味です。浮動小数点とは、小数をソフトウェアで表現する一つの形式で、IEEE 754 形式においては、符号部、仮数部、指数部からなります。仮数部は、有効桁数のことだと考えてください。

<pre>
# 倍精度(64bit)浮動小数点型
double
</pre>

倍精度(64bit)浮動小数点型が表現できる浮動小数の最大値はDBL_MAX、最小値はFLT_MINで定義されています。

<h3>doubleのサンプルコード</h3>

doubleを使ったサンプルコードです。

<pre>
#include <stdio.h>
#include <stdint.h>

int main(void) {
  double num = 5.4;
  
  printf("%f\n", num);
}
</pre>

出力結果。

<pre>
5.400000
</pre>

<h3>32bit幅の整数はdoubleで表現できる</h3>

doubleは浮動小数点型ですが、整数は浮動小数点の一つの値なので、整数も表現できます。

数の大小関係で覚えておいてほしいのは、32bit幅の整数(<a href="/blog/20201130082751.html">int32_t</a>, <a href="/blog/20201111150850.html">uint32_t</a>)は、doubleで表現できるということです。一方で、64it幅の整数(<a href="/blog/20201127082751.html">int64_t</a>, <a href="/blog/20201109150850.html">uint64_t</a>)は、doubleでは表現できません。
