<h2>ファイル入出力(書き始め)</h2>

C言語のファイル入出力の入門的な解説です。ファイル入出力の方法には、一文字づつを読み書きする方法や、数バイトづつ読み書きする方法、行を読み書きする方法、ファイル全体を読み書きする方法などがありますが。

ここでは、ファイル全体を読み込んで、ファイル全体を書き出す方法について解説します。メモリ容量も大きな現在(書いた年は2021年)、この方法を覚えておけば、なんとかなることが多いと思われます。
行の読み書きを簡単にやりたい場合は、テキスト処理が得意なプログラミング言語を使うのもひとつの手ですね。ファイル入出力の発展として、ソケット入出力を行う場合は、数バイトづつ読み書きする方法を知る必要があります。

<h3>ファイルをオープンする</h3>

ファイル入出力するためには、まず最初にファイルをオープンする必要があります。

<a href="/blog/20210513075631.html">fopen関数</a>を使うと、ファイルを開くことができます。<a href="/blog/20210418083246.html">stdio.h</a>ヘッダを読み込むと使えます。

<pre>
FILE* fopen(const char *file_name, const char *mode);
</pre>

第一引数は、開きたいファイルのファイル名です。第二引数は、モードです。ファイルオープンに成功すると、ファイルストリームを表現する「FILE*型」の値が返されます。

<h4>モードの一覧</h4>

モードの一覧です。

<table>
  <tr><th>モード</th><th>動作</th></tr>
  <tr><td>r</td><td>読み込み(ファイルがないときはエラー)</td></tr>
  <tr><td>w</td><td>書き込み(ファイルがないときは新規作成)</td></tr>
  <tr><td>a</td><td>追加書き込み(ファイルがないときは新規作成)</td></tr>
  <tr><td>r+</td><td>読み込みと書き込み(ファイルがないときはエラー)</td></tr>
  <tr><td>w+</td><td>読み込みと書き込み(ファイルがないときは新規作成)</td></tr>
  <tr><td>a+</td><td>読み込みと追加書き込み(ファイルがないときは新規作成)</td></tr>
</table>

書き込みは、ファイルの内容がクリアされ、新しい内容で書き込むことを意味します。追加書き込みは、ファイルの末尾に追加して、書き込むことを意味します。

上記のモードはバイナリモードを意味する「b」と組み合わせることができます。

<pre>
br
bw
</pre>

デフォルトの動作は、テキストモードオープンされ、Windowsの場合にはファイルに含まれる改行文字である「CR」「LF」の並びが「\n」に置き換えられます。

バイナリモードでは、このような置き換えはされません。

<h3>ファイルをクローズする</h3>

ファイル入出力が終わったら、ファイルを閉じる必要があります。

<a href="/blog/20210509093506.html">fclose関数</a>でファイルを閉じることができます。<a href="/blog/20210418083246.html">stdio.h</a>ヘッダを読み込むと使えます。

<pre>
int fclose(FILE* fp);
</pre>

引数は閉じたいファイルのファイルストリームです。ファイルクローズが、成功した場合は0、エラーの場合はEOFを返します。ファイルをクローズすると、バッファは、フラッシュされます。バッファとは、書き込みデータを一時的に保存している、メモリ領域のことです。フラッシュとは、バッファのデータを、書き出すことを言います。

<h3>ファイルから一文字読み込む</h3>

ファイルから一文字読み込むには、<a href="/blog/20210519082217.html">fgetc関数</a>を使います。

fgetc関数は、ファイルから1文字読み込む関数です。<a href="/blog/20210418083246.html">stdio.h</a>ヘッダを読み込むと使えます。

<pre>
#include <stdio.h>
int fgetc(FILE *fp);
</pre>

ファイルストリームから1文字読み込み、読み込んだ文字を返します。ファイルの最後に到達した場合は、EOFが返ります。

<h3>ファイル全体を読み込む</h3>

fread関数でファイル全体を読み込むサンプルです。<a href="/blog/20210526085256.html">ftell関数</a>と<a href="/blog/20210525075439.html">fseek関数</a>を使って、ファイルのサイズを取得して、<a href="/blog/20210209082644.html">calloc関数</a>でメモリを確保し、ファイル全体を読み込んでいます。

<pre>
#include <stdio.h>
#include <stdint.h>
#include <stdlib.h>

int main(void) {
  // ファイルを開く
  const char* in_file = "input.txt";
  FILE* in_fp = fopen(in_file, "r");
  if (in_fp == NULL) {
    fprintf(stderr, "Can't open file %s at %s line %d\n", in_file, __FILE__, __LINE__);
    exit(1);
  }
  
  // ファイルの末尾に位置指定子を移動
  fseek(in_fp, 0, SEEK_END);
  
  // ファイルの末尾の位置を取得。これは、ファイサイズになります。
  size_t file_size = (int32_t)ftell(in_fp);
  
  // ファイルサイズを取得
  char* buffer = calloc(file_size + 1, sizeof(char));

  // ファイルの先頭に位置指定子を移動
  fseek(in_fp, 0, SEEK_SET);
  
  // ファイルを読み込み
  size_t read_count = fread(buffer, sizeof(char), file_size, in_fp);
  if (read_count != file_size) {
    fprintf(stderr, "Can't read file %s at %s line %d\n", in_file, __FILE__, __LINE__);
    exit(1);
  }
  
  // ファイルの内容を確認
  printf("%s\n", buffer);
  
  // ファイルを閉じる
  fclose(in_fp);
}
</pre>

入力ファイルです。

<pre>
Hello
World!
</pre>

出力結果です。

<pre>
Hello
World!
</pre>
