<h2>stdio.hヘッダー - 標準入出力の関数など</h2>

stdio.hヘッダは、標準入出力の関数などが含まれているヘッダです。

<h3>文字列を出力する関数</h3>

<ul>
  <li><a href="/blog/20210419083246.html">printf関数</a></li>
  <li><a href="/blog/20210510093506.html">fprintf関数</a></li>
</ul>

<h3>標準入出力</h3>

<ul>
  <li><a href="/blog/20210512083754.html">stdout - 標準出力ストリームを意味するFILE構造体へのポインタ</a></li>
  <li><a href="/blog/20210511083754.html">stderr - 標準エラーストリームを意味するFILE構造体へのポインタ</a></li>
  <li><a href="/blog/20210509093506.html">fclose関数 - ファイルを閉じる</a></li>
</ul>
