<h2>makeコマンドとMakefile</h2>

makeは、ソースファイルの依存関係を定義して、コンパイルの必要のあるソースファイルだけをコンパイルするためのツールです。Makefileと呼ばれる設定ファイルを記述します。makeには、nmakeやdmakeやcmakeなどの方言がありますが、ここで紹介するmakeはGNU makeです。

<h3>makeをなぜ使うのか?</h3>

makeをなぜ使うのかという動機について書きます。

<h4>C言語のソースファイルのコンパイルを待つのが辛い</h4>

makeを記述する一番の動機は、C言語のソースファイルが増え、記述量も増えてくると、C言語のソースファイルのコンパイルを待つのが辛いということです。

C言語のパフォーマンスを最大にするために「-O3」オプションを<a href="https://linux.perlzemi.com/blog/20201216103956.html">gcc</a>に与えることが多いと思います。これは、ソースファイルが大きくなってくるとコンパイルに非常に時間がかかります。

修正したファイルに依存しているものだけが、再コンパイルされると、時間の短縮になります。

<h4>UNIX/Linuxにおける一般的なインストール手順</h4>

UNIX/Linuxにおける一般的なソフトウェアのインストール手順は、次のように定型化されています。「./configure」などのコマンドで、OSの設定を調べて、Makefileを生成します。生成されたMakefileをmakeで実行して、コンパイルを行い「make install」で、ソフトウェアを配置します。

<pre>
./configure
make
make install
</pre>

<h3>Makefileの基礎</h3>

ここではMakefileの基本的なことだけを解説します。<a href="/blog/20210622081112.html">分割コンパイル</a>で解説したアプリケーションの実行ファイルを生成するためのMakefileを書いてみます。「make」でアプリケーションの実行ファイルを生成、「make clean」で、途中できるオブジェクトファイルと実行ファイルを削除します。

以下が、Makefileの中身です。「all」の記述は「make」の動作を記述します。「clean」の記述で「make clean」の動作を記述します。先頭がタブになっている部分は、実行したいコマンドです。「::」の後ろは、依存しているファイル(あるいは単なるシンボル)を記述します。二行目以降は、タブで始め(空白ではない)、実行したいコマンドを記述します。

依存関係は連続して記述でき、依存先のファイルに更新があった場合は、コマンドが実行されます。


<a href="/blog/20210622081112.html">分割コンパイル</a>で解説したファイルに対してMakefileを記述してみます。「make」コマンドで分割コンパイルとリンクをして実行ファイルを生成します。「make clean」で、生成されたオブジェクトファイルと実行ファイルを削除します。

<pre>
all :: myapp

myapp : myapp.o mylib1.o mylib2.o
	gcc -o myapp myapp.o mylib1.o mylib2.o

myapp.o :: src/myapp.c
	gcc -Iinclude -c -o myapp.o src/myapp.c

mylib1.o :: src/mylib1.c include/mylib1.h
	gcc -Iinclude -c -o mylib1.o src/mylib1.c

mylib2.o :: src/mylib2.c include/mylib2.h
	gcc -Iinclude -c -o mylib2.o src/mylib2.c

clean ::
	rm *.o
	rm -f myapp
</pre>

makeを実行してみましょう。

<pre>
$ make
gcc -Iinclude -c -o myapp.o src/myapp.c
gcc -Iinclude -c -o mylib1.o src/mylib1.c
gcc -Iinclude -c -o mylib2.o src/mylib2.c
gcc -o myapp myapp.o mylib1.o mylib2.o
</pre>

実行ファイル「myapp」が生成されます。試しに「src/mylib1.c」だけを修正してみましょう。makeを実行すると必要なコマンドだけが実行されます。

<pre>
$ make
gcc -Iinclude -c -o mylib1.o src/mylib1.c
gcc -o myapp myapp.o mylib1.o mylib2.o
</pre>

「make clean」を実行しましょう。オブジェクトファイルと、実行ファイルが削除されます。

<pre>
$ make clean
rm *.o
rm -f myapp
</pre>

<h3>makeは依存しているファイルの更新があったことをどのように検知しますか?</h3>

たとえば「mylib.c」は「mylib1.h」に依存しているとします。この場合は「mylib.c」の更新時刻よりも「mybli1.h」の更新時刻が新しかった場合に、ファイルの更新があったと判断します。

<h3>Makefileの生成を自動化したい</h3>

Makefileはテキストファイルですので、<a href="https://linux.perlzemi.com/">Linux/UNIX</a>における実用的なテキスト処理プログラミング言語である<a href="https://tutorial.perlzemi.com/">Perl</a>で生成するのも簡単です。Makefileはmakeの種類によって方言があるので、Perlの側で吸収してあげるという使い方も可能です。

<h3>Windowsでもmakeは使えるの?</h3>

WindowsでMinGWを使う場合は、makeコマンドではなく「gmake」コマンドを使用します。Makefileの記述は、紹介したものと同じです。Windowsの場合は、makeは「nmake」を意味しており、衝突が起こるために、gmakeになっていると考えられます。
