<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">C言語</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/library.html">
        <span itemprop="name">C標準ライブラリ</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/library/stdlib.html">
        <span itemprop="name">stdlib.h</span>
      </a>
      <meta itemprop="position" content="3" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2>free関数 - 確保したメモリを解放する</h2>

<b>free関数</b>で、確保したメモリ領域を解放できます。<a href="/blog/20210227091654.html">stdlib.h</a>ヘッダを<a href="/blog/20210203153019.html">インクルード</a>する必要があります。

<pre>
#include <stdlib.h>
void free(void *ptr);
</pre>

<h3>free関数のサンプル</h3>

free関数を使ってメモリを開放するサンプルです。

<pre>
#include <stdio.h>
#include <stdint.h>
#include <stdlib.h>

int main(void) {
  // 動的なメモリの確保
  int32_t length = 4;
  int32_t* nums = calloc(sizeof(int32_t), capacity);
  
  // 処理
  
  // 不要になったらfreeで解放
  free(bytes);
}
</pre>
