<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">C言語</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/library.html">
        <span itemprop="name">C標準ライブラリ</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/library/stddef.html">
        <span itemprop="name">stddef.h</span>
      </a>
      <meta itemprop="position" content="3" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2>NULL - ヌルポインタ定数</h2>

<b>NULL</b>はヌルポインタ定数と呼ばれ「整数の0」または「(void*)にキャストした整数の0」として「stddef.h」で定義されています。

<a href="/blog/20210211090234.html">ポインタ</a>にNULLを代入したものはヌルポインタと呼ばれます。NULLはあらゆるポインタ型に代入できます。

<pre>
// ヌルポインタ
void* ptr = NULL;
int32_t* int32_ptr = NULL;
float* float_ptr = NULL;
</pre>

<h3>NULLのサンプル</h3>

NULLのサンプルです。

<h4>メモリ割り当てのチェック</h4>

以下のサンプルでは、<a href="/blog/20210209082644.html">calloc関数</a>のメモリ割り当てに失敗した場合はNULLが返されます。ですので、メモリが割り当てられていることのチェックに利用できます。

<pre>
#include <stddef.h>
#include <stdint.h>
#include <stdio.h>
#include <stdlib.h>

int main(void) {
  // ポインタ
  int32_t* nums = calloc(sizeof(int32_t), 10);
  
  // ポインタがNULLではない
  if (nums != NULL) {
    printf("Success\n");
  }
  else {
    printf("Fail\n");
  }
  free(nums);
}
</pre>

出力結果

<pre>
Success
</pre>

<h4>木のノードで子要素が存在するか</h4>

木のノードで、子要素が存在するかどうかのチェックのサンプルです。

<pre>
#include <stddef.h>
#include <stdint.h>
#include <stdio.h>
#include <stdlib.h>

struct myapp_node {
  struct myapp_node* first_child;
  struct myapp_node* last_child;
};

int main(void) {
  
  // 親ノード
  struct myapp_node* parent = calloc(sizeof(struct myapp_node), 1);
  
  // 子ノード
  struct myapp_node* first_child = calloc(sizeof(struct myapp_node), 1);
  
  // 親ノードの最初の子に代入
  parent->first_child = first_child;
  
  if (parent->first_child != NULL) {
    printf("Have First Child\n");
  }

  if (parent->last_child == NULL) {
    printf("Don't Have Last Child\n");
  }
  
  free(parent);
  free(first_child);
}
</pre>

出力結果

<pre>
Have First Child
</pre>
