<h2>動的にメモリを確保する - 書き始め</h2>

C言語で動的にメモリを確保する方法の紹介です。C言語では、実行時にしかサイズがわからないデータ構造を表現するのに、動的なメモリ確保を行う必要があります。

C言語の<a href="/blog/20210129143859.html">配列</a>は静的な配列で、コンパイル時にサイズが決定されます。文字列リテラルもコンパイル時にサイズが決定されます。

実務のプログラミングでは、実行時にしかサイズがわからない動的なデータを求められることがほとんどです。要素数を実行時に決定したい場合は動的な配列を作成する必要がありますし、文字数を実行時に決定したい動的文字列を作成するには、基本として動的なメモリ確保を覚える必要があります。

<h3>動的にメモリを確保する</h3>

動的にメモリを確保するには、<a href="/blog/20210227091654.html">stdlib.h</a>ヘッダで定義されている<a href="/blog/20210210082644.html">malloc関数</a>または<a href="/blog/20210209082644.html">calloc関数</a>を使用します。

C99によるC言語入門では、メモリ領域の0初期化を行ってくれる<a href="/blog/20210209082644.html">calloc関数</a>をお勧めしています。calloc関数を使って、動的にメモリを確保する方法を解説します。

<h3>動的にメモリを確保する</h3>

calloc関数で動的にメモリを確保してみましょう。char型(1バイト)で、4の長さのメモリ領域を確保します。

<pre>
#include <stdio.h>
#include <stdint.h>
#include <stdlib.h>

int main(void) {
  // 動的なメモリの確保
  int32_t capacity = 4;
  char* bytes = calloc(sizeof(char), capacity);
  
  // 確保されたメモリ領域を使用。確保した領域を超えないように注意。最初はゼロ初期化されている。
  bytes[2] = 5;
  printf("%d %d %d\n", bytes[0], bytes[1], bytes[2]);
}
</pre>

<!--

<h3>動的な配列の作成</h3>

動的にメモリを確保して、要素を追加できる動的な配列を作成してみましょう。要素のデータ型は<a href="/blog/20201130082751.html">int32_t型</a>にします。配列の最初のメモリ領域の長さは4にします。

<pre>
#include <stdio.h>
#include <stdint.h>
#include <stdlib.h>

int main(void) {
  // 配列のメモリ領域の長さ
  int32_t capacity = 4;
  
  // 配列の長さ
  int32_t length = 0;
  
  // 動的にメモリ確保
  int32_t nums = calloc(capacity, sizeof(int32_t));
  
  // 配列に要素を追加。長さを1増やす
  nums[0] = 3;
  length++;
  
  // 配列に要素を追加。長さを1増やす
  nums[1] = 8;
  length++;
  
  // 配列に要素を追加。長さを1増やす
  nums[2] = 7;
  length++;
  
  // 配列に要素を追加。長さを1増やす
  nums[3] = 15;
  length++;
  
  // 次に要素を足すとメモリ領域をこの位置でメモリ領域
  
}
</pre>

-->
