<h2>グローバル変数 書き始め</h2>

C言語のグローバル変数についての解説です。

<h3>グローバル変数を使わないC言語プログラミングを推奨</h3>

最初に書いておくと、グローバル変数は使わないでC言語プログラミングを行うことを強く推奨します。

自分でライブブラリやアプリケーションを作成する場合は、グローバル変数を使わずに、プログラミングできます。

自分で作成していないライブラリが、ライブラリンのインターフェースとして、グローバル変数を使うことを要求していた場合は、グローバル変数を使う必要がありますが、自作のC言語プログラミングであれば、グローバル変数を使わずに、プログラミングできます。そのような場合でも、グローバル変数へのアクセスを、極力さけるための工夫をします。

<h4>グローバル変数の危険性</h4>

グローバル変数の危険性というのは、一言で書くと、グローバル変数はどこからでも変更可能だということです。

さて、プログラミングが100万行あったとして、何かの間違いで、どこかの場所でグローバル変数が変更されました。

さて、皆さんは、この箇所を、苦労して探したいですか? それとも、最初からリスクをなくしておきますでしょうか?

C99対応のC言語入門では、最初からリスクをなくしておく方法を強くお勧めしています。

<h4>でもどうしてグローバル変数があふれているの?</h4>

でも、どうして、結局のところ、世の中に出回っているプログラミングは、こんなにもグローバル変数にあふれているのでしょうか?

500行のときは、グローバル変数でも、確認するのは簡単でした。次の担当の人は、前に書いてあったものを、コピーして、真似しました。その場しのぎとして、とても楽です。プログラムは、次第にどんどん大きくなっていきます。

気づけば、1万行に達しています。

書き換えようと思っても、リファクタリングの時間は与えてもらえません。そのような交渉をする権限も雰囲気もありません。

次の要件を達成するための現実的な策は、前のものをコピペして、少し変えて使うことです。そして、あまりにもリファクタリングを怠っていたので、プログラミングを書く作業時間は、どんどん伸び、試験の期間に到達しています。試験の期間のぎりぎりで、夜10時までの残業をこなして、やっと、プログラムが書き終わりました。さて、そのようなシステムは、信頼性の高いシステムでしょうか?

<h3>グローバル変数を使わないでプログラミングする手法</h3>

グローバル変数を使わないでプログラミングする手法について紹介します。

<h4>整数定数はenum</h4>

整数定数を使いたい場合は、<a href="/blog/20210120133501.html">列挙型enum</a>を使います。

<h4>浮動小数点定数は定数マクロ</h4>

浮動小数点定数を使いたい場合は、<a href="/blog/20210302083009.html">#defineによるマクロの記述</a>を行います。

<h4>文字列定数は静的ローカル変数</h4>

文字列定数を使いたい場合のテクニックをローカル変数の解説の静的ローカル変数の部分に書いています。

<ul>
  <li>
    <a href="/blog/20201217105308.html">ローカル変数の記事の「静的ローカル変数」の部分</a>
  </li>
</ul>

<h4>文字列定数の配列は静的ローカル変数</h4>

文字列定数の配列を使いたい場合のテクニックをローカル変数の解説の静的ローカル変数の部分に書いています。

<ul>
  <li>
    <a href="/blog/20201217105308.html">ローカル変数の記事の「静的ローカル変数」の部分</a>
  </li>
</ul>

<h4>複数の関数からまとまったデータにアクセスしたい</h4>

グローバル変数を使いたくなる動機は、必要なデータだけ関数を引数に渡すのがめんどうで、複数の関数からまとまったデータにアクセスしたい場合があるからです。

必要なデータだけを関数に渡すのは、リエントラントで最も安全な方法ですが、少し大きなアプリケーションを作る場合には、面倒で現実的ではないのです。

このような場合は、C言語にオブジェクト指向の考え方を取り入れましょう。オブジェクトにデータを保存して、アクセスするようにします。

<ul>
  <li><a href="/blog/20210212090234.html">オブジェクト指向C言語</a></li>
</ul>

