<h2>__FILE__ - ファイル名</h2>

「__FILE__」は、<a href="/preprocessor.html">プリプロセッサ</a>によってソースコードが記述されているファイルのファイル名に展開されます。これは、コンパイル時に、どのような名前でCソースファイルを指定したかによります。

<pre>
__FILE__
</pre>

<h3>ファイル名を取得するサンプル</h3>

<pre>
#include <stdio.h>

int main(void) {
  printf("%s\n", __FILE__);
}
</pre>

コンパイルして実行。

<pre>
gcc -o a a.c && ./a
</pre>

出力結果。

<pre>
a.c
</pre>

コンパイルして実行。相対パス。

<pre>
gcc -o a ../labo/a.c && ./a
</pre>

出力結果。

<pre>
../labo/a.c
</pre>

<h3>エラーメッセージを表示してプログラムを終了するサンプル</h3>

exit関数、__FILE__、<a href="/blog/20210515085632.html">__LINE__</a>を組み合わせて、エラーメッセージを表示してプログラムを終了するサンプルは、<a href="/blog/20210527084137.html">exit関数</a>の解説にあります。
