<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">C言語</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/compile.html">
        <span itemprop="name">コンパイル</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2>分割コンパイル手法の解説</h2>

C言語の分割コンパイル手法を解説します。コンパイラには<a href="https://linux.perlclub.net/blog/20201216103956.html">gcc</a>を使用します。実務で十分に使える分割コンパイル手法です。分割コンパイル手法とは、ここでは、アプリケーションのソースファイル、ライブラリのヘッダファイル、ライブラリのソースファイルに分けて記述し、それらを<a href="/blog/20201214140830.html">コンパイル</a>し、<a href="/blog/20201215105104.html">リンクして実行ファイルを生成</a>する手法のことをいいます。

<h3>分割コンパイル手法の概要</h3>

分割コンパイル手法の概要について、解説します。

<h4>アプリケーションのソースファイル</h4>

アプリケーションのソースファイルとは<a href="/blog/20210314140759.html">main関数</a>が含まれるソースファイルのことです。アプリケーションは、ここから実行されます。

アプリケーションのソースファイルを、コンパイルするためには、アプリケーションで利用されている関数や構造体が、<a href="/blog/20210203153019.html">インクルード</a>したヘッダに存在する必要があります。

アプリケーションのソースファイルのコンパイルを行うときには、関数や構造体などの名前の解決だけが行われればよく、他のライブラリのソースファイルを知る必要はありません。リンクする場合には、ライブラリのソースファイルをコンパイルし、オブジェクトファイルになったものが、必要になります。

<h4>ライブラリのヘッダファイル</h4>

自作のライブラリのヘッダファイルです。<a href="/blog/20210208155548.html">構造体定義</a>、<a href="/blog/20210204153019.html">typedef文</a>、<a href="/blog/20210120133501.html">列挙型</a>、<a href="/blog/20210302083009.html">定数マクロ</a>、<a href="/blog/20210124140655.html">関数マクロ</a>、<a href="/blog/20210625091605.html">関数プロトタイプ宣言</a>は、ヘッダファイルで行います。

アプリケーションのソースファイル、または、ライブラリのソースファイルの中で、<a href="/blog/20210203153019.html">インクルード</a>されます。

<h4>ライブラリのソースファイル</h4>

自作のライブラリのソースファイルです。ライブラリのソースファイルの中では、<a href="/blog/20210214090234.html">関数定義</a>を行います。関数のプロトタイプ宣言は、ヘッダファイルで行います。

ライブラリのソースファイルの中では、ライブラリのヘッダファイルを<a href="/blog/20210203153019.html">インクルード</a>します。

ライブラリのソースファイルを、コンパイルするためには、ライブラリのソースファイルで利用されている関数や構造体が、インクルードしたヘッダに存在する必要があります。

ライブラリのソースファイルのコンパイルを行うときには、関数や構造体などの名前の解決だけが行われればよく、他のライブラリのソースファイルを知る必要はありません。リンクする場合には、ライブラリのソースファイルをコンパイルし、オブジェクトファイルになったものが、必要になります。

<h4>分割コンパイルの手順</h4>

分割コンパイルの手順です。

1.ライブラリのソースファイルをコンパイルして、オブジェクトファイルを生成する。すべての、ライブラリのソースファイルで行う。
2.アプリケーションのソースファイルをコンパイルして、オブジェクトファイルを生成する。
3.上記で生成したすべてのオブジェクトファイルをリンクして、実行ファイルを生成する。

ヘッダファイルは「include」というディレクトリの中に格納することにします。アプリケーションのソースファイルとライブラリのソースファイルは「src」というディレクトリの中に格納することにします。ヘッダファイルでは、<a href="/blog/20210201153503.html">インクルードガード</a>を行います。

<h3>分割コンパイルのサンプル</h3>

分割コンパイルのサンプルです。

<h4>アプリケーションのソースファイル</h4>

アプリケーションのソースファイル「myapp.c」です。

<b>myapp.c</b>

<pre>
#include <stdio.h>

#include "mylib1.h"
#include "mylib2.h"

int main(void) {
  
  mylib1_print();
  mylib2_print();
}
</pre>

<h4>ライブラリのヘッダファイル</h4>

ライブラリのヘッダファイル「mylib1.h」と「mylib2.h」です。

<b>mylib1.h</b>

<pre>
#ifndef MYLIB1_H
#define MYLIB1_H

void mylib1_print (void);

#endif
</pre>

<b>mylib2.h</b>

<pre>
#ifndef MYLIB2_H
#define MYLIB2_H

void mylib2_print (void);

#endif
</pre>

<h4>ライブラリのソースファイル</h4>

ライブラリのソースファイル「mylib1.c」と「mylib2.c」です。

<b>mylib1.c</b>

<pre>
#include <stdio.h>

#include "mylib1.h"

void mylib1_print (void) {
  printf("mylib1_print\n");
}
</pre>

<b>mylib2.c</b>

<pre>
#include <stdio.h>

#include "mylib2.h"

void mylib2_print (void) {
  printf("mylib2_print\n");
}
</pre>

<h4>コンパイル</h4>

アプリケーションのソースファイルと、ライブラリファイルを、それぞれ<a href="/blog/20201214140830.html">コンパイルし</a>ます。ヘッダファイルの場所をオプション「-I」で指定します。

<pre>
gcc -Iinclude -c -o myapp.o src/myapp.c
gcc -Iinclude -c -o mylib1.o src/mylib1.c
gcc -Iinclude -c -o mylib2.o src/mylib2.c
</pre>

コンパイルされるとオブジェクトファイルになります。オブジェクトファイルは機械語になっていますが、まだ実行ファイルではありません。

<h4>リンク - 実行ファイルの作成</h4>

<a href="/blog/20201215105104.html">リンク</a>して実行ファイルを作成します。関数名などのシンボルが、実体に結びつけられます。

<pre>
gcc -o myapp myapp.o mylib1.o mylib2.o
</pre>

<h4>実行</h4>

実行ファイルを<a href="/blog/20201216101527.html">実行</a>してみましょう。

<pre>
./myapp
</pre>

出力結果です。

<pre>
mylib1_print
mylib2_print
</pre>

これで、C言語の分割コンパイル手法をマスターできました。ライブラリファイルが増えても同じです。

今回の例では、ヘッダには関数のプロトタイプ宣言、ソースファイルには関数定義しか行っていませんが、大事なことは、ヘッダに何を定義すべきかを、きっちり理解することです。

ヘッダファイルでは、<a href="/blog/20210208155548.html">構造体定義</a>、<a href="/blog/20210204153019.html">typedef文</a>、<a href="/blog/20210120133501.html">列挙型</a>、<a href="/blog/20210302083009.html">定数マクロ</a>、<a href="/blog/20210124140655.html">関数マクロ</a>、関数のプロトタイプ宣言を行います。

ソースファイルでは、<a href="/blog/20210214090234.html">関数定義</a>を行います。

<h3>型の循環参照を避ける方法</h3>

上記の分割コンパイル方法で、ひとつ問題になるのは、型の循環参照が発生してしまうということです。ライブラリが相互参照することは、実務のプログラミングで、普通に起こりうることですが、これを解決する手段に、型宣言ヘッダという手法があります。ヘッダファイル間の読み込みを減らし、循環参照を解決できます。

<ul>
  <li><a href="/blog/20210202153503.html">型宣言ヘッダ</a></li>
</ul>

<h3>オブジェクト指向C言語</h3>

分割コンパイルの応用としてオブジェクト指向C言語も紹介しています。

<ul>
  <li><a href="/blog/20210212090234.html">オブジェクト指向C言語</a></li>
</ul>
