<h2>文字リテラル</h2>

文字リテラルは、ASCIIコードのひとつの文字をソースコード上で表現するものです。「'」でASCIIコードの一つの文字を囲みます。

<pre>
// 文字リテラル
'a'
'b'
</pre>

これは<a href="/blog/20201204103322.html">char型</a>で、ASCIIコードの値になります。ASCIIコードの文字として出力したい場合はprintf関数の「%c」を使います。

<pre>
#include <stdio.h>

int main(void) {
  
  char ch = 'a';
  
  // ASCIIコード(数値)
  printf("%d\n", ch);
  
  // ASCIIコードに対応する文字
  printf("%c\n", ch);
}
</pre>

出力結果です。

<pre>
97
a
</pre>

<h3>文字リテラルのエスケープシーケンス</h3>

文字リテラルのエスケープシーケンスです。「\t」「\n」で、タブや改行を表現できます。

<table>
  <tr><th>\t</th><td>タブ</td></tr>
  <tr><th>\n</th><td>改行(LF)</td></tr>
  <tr><th>\0</th><td>ヌル文字</td></tr>
</table>

文字リテラルのエスケープシーケンスのサンプルです。

<pre>
#include <stdio.h>

int main(void) {
  
  // 文字リテラルのエスケープシーケンス
  printf("%d %d %d\n", '\t', '\n', '\0');
}
</pre>

出力結果です。

<pre>
9 10 0
</pre>

<h4>ASCIIコードの任意の文字</h4>

「\x16進数ASCIIコード」というエスケープシーケンスを使って、ASCIIコードの任意の文字を表現できます。以下はASCIIコードの「a」を16進数で表現しています。

<pre>
\x61
</pre>

文字リテラルのエスケープシーケンスでASCIIコードの任意の文字を使用するサンプルです。

<pre>
#include <stdio.h>

int main(void) {
  
  // 文字リテラルのエスケープシーケンス
  printf("%c\n", '\x61');
}
</pre>

出力結果です。aが出力されます。

<pre>
a
</pre>

<h4>エスケープシーケンスの一覧</h4>

<table>
<tr><th>記号</th><th>意味
</th></tr><tr><td>\a</td><td>ベル
</td></tr><tr><td>\b</td><td>バックスペース
</td></tr><tr><td>\f</td><td>ページ送り（クリア）
</td></tr><tr><td>\n</td><td>改行(ラインブレーク)
</td></tr><tr><td>\r</td><td>改ページ
</td></tr><tr><td>\t</td><td>タブ
</td></tr><tr><td>\v</td><td>垂直タブ
</td></tr><tr><td>\\</td><td>\
</td></tr><tr><td>\?</td><td>?
</td></tr><tr><td>\'</td><td>シングルクォーテーション(')
</td></tr><tr><td>\"</td><td>ダブルクォーテーション(")
</td></tr><tr><td>\0</td><td>ヌル文字
</td></tr><tr><td>\N</td><td>8進定数
</td></tr><tr><td>\xN</td><td>16進定数
</td></tr>
</table>
