<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">C言語</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/library.html">
        <span itemprop="name">C標準ライブラリ</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/library/stdio.html">
        <span itemprop="name">stdio.h</span>
      </a>
      <meta itemprop="position" content="3" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2>fopen関数 - ファイルを開く</h2>

fopen関数を使うと、ファイルを開くことができます。<a href="/blog/20210418083246.html">stdio.h</a>ヘッダを読み込むと使えます。

<pre>
FILE* fopen(const char *file_name, const char *mode);
</pre>

第一引数は、開きたいファイルのファイル名です。第二引数は、モードです。ファイルオープンに成功すると、ファイルストリームを表現する「FILE*型」の値が返されます。

<h4>モードの一覧</h4>

モードの一覧です。

<table>
  <tr><th>モード</th><th>動作</th></tr>
  <tr><td>r</td><td>読み込み(ファイルがないときはエラー)</td></tr>
  <tr><td>w</td><td>書き込み(ファイルがないときは新規作成)</td></tr>
  <tr><td>a</td><td>追加書き込み(ファイルがないときは新規作成)</td></tr>
  <tr><td>r+</td><td>読み込みと書き込み(ファイルがないときはエラー)</td></tr>
  <tr><td>w+</td><td>読み込みと書き込み(ファイルがないときは新規作成)</td></tr>
  <tr><td>a+</td><td>読み込みと追加書き込み(ファイルがないときは新規作成)</td></tr>
</table>

書き込みは、ファイルの内容がクリアされ、新しい内容で書き込むことを意味します。追加書き込みは、ファイルの末尾に追加して、書き込むことを意味します。

上記のモードはバイナリモードを意味する「b」と組み合わせることができます。

<pre>
br
bw
</pre>

デフォルトの動作は、テキストモードオープンされ、Windowsの場合にはファイルに含まれる改行文字である「CR」「LF」の並びが「\n」に置き換えられます。

バイナリモードでは、このような置き換えはされません。

<h3>fopen関数のサンプル</h3>

fopen関数のサンプルです。

<h4>ファイルを読み込む</h4>

fopen関数で読み込みモードでファイルを開き、fgetc関数で読み込み、標準出力に出力しています。

<pre>
#include <stdio.h>
#include <stdlib.h>

int main(void) {
  
  // ファイルを読み込みモードで開く
  const char* in_file = "input.txt";
  FILE* in_fp = fopen(in_file, "r");
  if (in_fp == NULL) {
    fprintf(stderr, "Can't open file %s\n", in_file);
    exit(1);
  }
  
  // 読み込んで、標準出力に出力
  int32_t ch;
  while(ch = fgetc(in_fp)) {
    if (ch == EOF) {
      break;
    }
    fputc(ch, stdout);
  }
  
  // ファイルに書き込む
  const char* message = "Hello";
  fprintf(in_fp, "%s\n", message);
  
  // fopen関数でファイルを閉じる
  fclose(in_fp);
}
</pre>

入力ファイル「input.txt」です。

<pre>
Hello
World!
</pre>

出力結果です。

<pre>
Hello
World!
</pre>

<h4>ファイルに書き込む</h4>

fopen関数で書き込みモードでファイルを開き、<a href="/blog/20210510093506.html">fprintf関数</a>で内容を書きこみ、<a href="/blog/20210509093506.html">fclose関数</a>で、ファイルを閉じています。

<pre>
#include <stdio.h>
#include <stdlib.h>

int main(void) {
  
  // ファイルを書き込みモードで開く
  const char* out_file = "output.txt";
  FILE* out_fp = fopen(out_file, "w");
  if (out_fp == NULL) {
    fprintf(stderr, "Can't open file %s\n", out_file);
    exit(1);
  }
  
  // ファイルに書き込む
  const char* message = "Hello";
  fprintf(out_fp, "%s\n", message);
  
  // fopen関数でファイルを閉じる
  fopen(out_fp);
}
</pre>
