<h2>fprintf関数 - フォーマットした文字列を出力先を指定して出力</h2>

<b>fprintf関数</b>は、フォーマットした文字列を出力先を指定して出力できます。<a href="/blog/20210419083246.html">printf関数</a>は、標準出力に出力しますが、出力先を指定できるのが、fprintf関数です。

<pre>
#include <stdio.h>
int fprintf(FILE *fp, const char *format, ...);
</pre>

<h3>標準出力に出力する</h3>

fprintf関数を使って、標準出力に出力してみましょう。printf関数と同じことをします。stdoutは、標準出力を意味する<a href="/blog/20210315140759.html">グローバル変数</a>です。

<pre>
#include <stdio.h>

int main(void) {
  const char* message = "Hello";
  fprintf(stdout, "%s\n", message);
}
</pre>

出力結果です。

<pre>
Hello
</pre>

<h3>標準エラー出力に出力する</h3>

fprintf関数を使って、標準エラー出力に出力してみましょう。stderrは、標準エラー出力を意味する<a href="/blog/20210315140759.html">グローバル変数</a>です。

<pre>
#include <stdio.h>

int main(void) {
  const char* message = "Hello";
  fprintf(stderr, "%s\n", message);
}
</pre>

出力結果です。

<pre>
Hello
</pre>

<h3>ファイルに出力する</h3>

fprintf関数を使って、ファイルに出力してみましょう。open関数でファイルを開いて、ファイルに書き込んでみましょう。開いたファイルはclose関数で閉じています。

<pre>
#include <stdio.h>

int main(void) {
  
  // 書き込み用にファイルを開く
  const char* out_file = "output.txt";
  FILE* out_fp = fopen(out_file, "w");
  if (out_fp == NULL) {
    fprintf(stderr, "Can't open file %s\n", out_file);
  }
  
  // fprintf関数でファイルに書き込む
  const char* message = "Hello";
  fprintf(out_fp, "%s\n", message);
  
  // ファイルを閉じる
  close(out_fp);
}
</pre>

output.txtを開いてみましょう。以下の内容が出力されています。

<pre>
Hello
</pre>
