<h2>printf関数 - 文字列をフォーマットして出力する(書き始め)</h2>

printf関数を使うと、文字列をフォーマットして出力できます。<a href="/blog/20210418083246.html">stdio.hヘッダ</a>をインクルードすると利用できます。

<pre>
#include <stdio.h>
int printf(const char * restrict format, ...);
</pre>

printf関数のサンプルです。第一引数は、文字列を意味する「%s」や整数を意味する「%d」などフォーマット指定子を含む文字列です。第二引数以降は、可変長引数となっており、フォーマット指定子に対応する値を渡します。

<pre>
#include <stdio.h>
#include <stdint.h>

int main(void) {
  const char* name = "Yuki Kimoto";
  int32_t age = 40;
  
  printf("My name is %s. Age is %d.\n", name, age);
}
</pre>

出力結果です。

<pre>
My name is Yuki Kimoto. Age is 40.
</pre>
