<h2>strcmp関数 - 文字列を比較する</h2>

<b>strcmp関数</b>は、文字列を比較する関数です。辞書順で「s1」が「s2」より大きい場合は、正の数を、同じ場合は0を、小さい場合は負の数を返します。

「<a href="/blog/20210303101711.html">string.h</a>」をインクルードすると使えます。

<pre>
#include <string.h>
int strcmp(const char *s1, const char *s2);
</pre>

<a href="/blog/20210331101342.html">C言語の文字列</a>は「\0」で終わるという約束事があります。strcmp関数は、この約束事を前提として、文字列の比較を行います。

<h3>strcmp関数のサンプル</h3>

strcmp関数で文字列を比較するサンプルです。一致した場合に、Matchと表示します。

<pre>
#include <stdio.h>
#include <string.h>

int main(void) {
  const char* message = "Hello";
  
  // 文字列を比較
  if (strcmp(message, "Hello") == 0) {
    printf("Match\n");
  }
  else {
    printf("Not Match\n");
  }
}
</pre>
