<h2>C言語の文字列 書き始め</h2>

C言語の文字列について解説します。C言語には、文字列という型はなく、文字の<a href="/blog/20210129143859.html">配列</a>を使って文字列を表現します。C言語の文字列は「\0」で終わります。printf関数の「%s」というフォーマットで文字列を出力できます。

<pre>
#include <stdio.h>

int main(void) {
  // 文字列は、文字の配列で表現し、「\0」で終わる。
  char string[4];
  string[0] = 'a';
  string[1] = 'b';
  string[2] = 'c';
  string[3] = '\0';
  
  // 文字列を出力
  printf("%s\n", string);
}
</pre>

出力結果です。

<pre>
abc
</pre>

<h4>char型は文字を表現する型</h4>

<a href="/blog/20201204103322.html">char型</a>はC言語で文字を表現する型で「符号あり、または符号なしの8bit整数」として定義されています。ASCII文字コードを代入することを想定していると考えられます。

<h4>文字リテラル</h4>

「'a'」は文字リテラルです。対応するASCIIコードに変換されます。「'a'」の場合は、97に変換されます。

<h4>文字列リテラル</h4>

文字列リテラルを使って、文字列を簡単に表現することができます。文字列リテラルは、文字配列の先頭の<a href="/blog/20210211090234.html">アドレス</a>を返すので<a href="/blog/20201208125815.html">char*型</a>で受け取ります。文字列が変更されないようにconst修飾子をつけておくのがよいでしょう。以下が、文字列を表現するC言語のお勧めの表現です。

<pre>
#include <stdio.h>

int main(void) {
  // 文字列リテラル
  const char* string = "abc";
  
  // 文字列を出力
  printf("%s\n", string);
}
</pre>
