<h2>分割コンパイル手法の解説(書き始め)</h2>

C言語の分割コンパイル手法を解説します。コンパイラには<a href="https://linux.perlzemi.com/blog/20201216103956.html">gcc</a>を使用します。実務で十分に使える分割コンパイル手法です。分割コンパイル手法とは、ここでは、アプリケーションのソースファイル、ライブラリのヘッダファイル、ライブラリのソースファイルに分けて記述し、それらを<a href="/blog/20201214140830.html">コンパイル</a>し、<a href="/blog/20201215105104.html">リンクして実行ファイルを生成</a>する手法のことをいいます。

<h3>分割コンパイル手法の概要</h3>

分割コンパイル手法の概要について、解説します。

<h4>アプリケーションのソースファイル</h4>

アプリケーションのソースファイルとは<a href="/blog/20210314140759.html">main関数</a>が含まれるソースファイルのことです。アプリケーションは、ここから実行されます。

アプリケーションのソースファイルを、コンパイルするためには、アプリケーションで利用されている関数や構造体が、<a href="/blog/20210203153019.html">インクルード</a>したヘッダに存在する必要があります。

アプリケーションのソースファイルのコンパイルを行うときには、関数や構造体などの名前の解決だけが行われればよく、他のライブラリのソースファイルを知る必要はありません。リンクする場合には、ライブラリのソースファイルをコンパイルし、オブジェクトファイルになったものが、必要になります。

<h4>ライブラリのヘッダファイル</h4>

自作のライブラリのヘッダファイルです。<a href="/blog/20210208155548.html">構造体定義</a>、<a href="/blog/20210204153019.html">typedef文</a>、<a href="/blog/20210120133501.html">列挙型</a>、<a href="/blog/20210302083009.html">定数マクロ</a>、<a href="/blog/20210124140655.html">関数マクロ</a>、関数のプロトタイプ宣言は、ヘッダファイルで行います。

アプリケーションのソースファイル、または、ライブラリのソースファイルの中で、<a href="/blog/20210203153019.html">インクルード</a>されます。

<h4>ライブラリのソースファイル</h4>

自作のライブラリのソースファイルです。ライブラリのソースファイルの中では、<a href="/blog/20210214090234.html">関数定義</a>を行います。関数のプロトタイプ宣言は、ヘッダファイルで行います。

ライブラリのソースファイルの中では、ライブラリのヘッダファイルを<a href="/blog/20210203153019.html">インクルード</a>します。

ライブラリのソースファイルを、コンパイルするためには、ライブラリのソースファイルで利用されている関数や構造体が、インクルードしたヘッダに存在する必要があります。

ライブラリのソースファイルのコンパイルを行うときには、関数や構造体などの名前の解決だけが行われればよく、他のライブラリのソースファイルを知る必要はありません。リンクする場合には、ライブラリのソースファイルをコンパイルし、オブジェクトファイルになったものが、必要になります。

<h4>分割コンパイルの手順</h4>

分割コンパイルの手順です。

1.ライブラリのソースファイルをコンパイルして、オブジェクトファイルを生成する。すべての、ライブラリのソースファイルで行う。
2.アプリケーションのソースファイルをコンパイルして、オブジェクトファイルを生成する。
3.上記で生成したすべてのオブジェクトファイルをリンクして、実行ファイルを生成する。
