<div sytle="padding-bottom:100px">　</div>

<div style="text-align:center;margin-top:30px;font-weight:bold;font-size:22px;">
C言語のお供にPerlテキスト処理が学べる
</div>
<div style="text-align:center;margin-top:30px;">
  <a href="https://www.perlri.com/book/perl_text_essense"><img alt="テキスト処理" src="https://tutorial.perlzemi.com/images/book/perl_text_essence.jpg" style="width:220px;margin:0 auto;"></a><br><a href="https://www.perlri.com/book/perl_text_essense" style="font-size:20px;">Perlテキスト処理のエッセンス</a>

</div>
