<div class="what_is_this_site">
  <div class="inside">
    C99は、複素数関数、//コメント、forの初期化部のスコープ、幅が明示的な整数型、整数として計算可能なポインタ型など<br>C言語に足りないと考えられた機能が大幅に追加されたC言語のバージョン。<br><a href="https://linux.perlzemi.com/">Linxu/UNIX</a>における<a href="https://linux.perlzemi.com/blog/20201216103956.html">gcc</a>などの多くのCコンパイラがC99をサポート。<br>C言語は、組み込み開発、デバイスドライバ、プログラミング言語実装、<br>Linuxカーネル、Window API、GUP/CUDA、Arduino、など幅広い分野で活躍。<br><a href="https://tutorial.perlzemi.com/">Perl</a>で数値計算や配列演算のパフォーマンスが欲しいなぁ。<br>そんなときは、C言語を使って関数を記述して、<a href="https://bind.perlzemi.com/">Perlへバインディング</a>するという手法があります。
  </div>
</div>

<div class="perlri_link">
  <a href="http://www.perlri.com">
    プログラミングスクール<br>Perl元気塾
  </a>
</div>
