<h2>C99対応のC言語入門</h2>

C99規格に対応したC言語入門のコンテンツです。C言語入門の多くは、C99以前のコンテンツがほとんどのため、ここでは、C99規格に対応した入門を書きます。

C99は複素数のための数学関数と型の追加、「//」によるコメント、forのPerl風スコープ、整数幅を確実に指定できる整数型などが追加された、実用的にも便利な機能が追加されたC言語の規格のバージョンです。

<h3>C言語の開発環境構築</h4>

<ul>
  <li><a href="/blog/20201124085008.html">C言語の開発環境の構築</a></li>
</ul>

<h3>型</h3>

<h4>幅が保証される整数型</h4>

<ul>
  <li><a href="/blog/20201117090747.html">int8_t - 符号あり8bit整数型</a></li>
  <li><a href="/blog/20201122084622.html">uint8_t - 符号なし8bit整数型</a></li>
  <li><a href="/blog/20201126090559.html">int16_t - 符号あり16bit整数型</a></li>
  <li><a href="/blog/20201120084622.html">uint16_t - 符号なし16bit整数型</a></li>
  <li><a href="/blog/20201130082751.html">int32_t - 符号あり32bit整数型</a></li>
  <li><a href="/blog/20201111150850.html">uint32_t - 符号なし32bit整数型</a></li>
  <li><a href="/blog/20201127082751.html">int64_t - 符号あり64bit整数型</a></li>
</ul>

<h4>整数型定数マクロ</h4>

<ul>
  <li><a href="/blog/20201115090747.html">INT8_MAX - int8_tの最大値を表す定数</a></li>
  <li><a href="/blog/20201114090747.html">INT8_MIN - int8_tの最小値を表す定数</a></li>
  <li><a href="/blog/20201123084622.html">UINT8_MAX - uint8_tの最大値を表す定数</a></li>
  <li><a href="/blog/20201125090559.html">INT16_MAX - int16_tの最大値を表す定数</a></li>
  <li><a href="/blog/20201121084622.html">INT16_MIN - int16_tの最小値を表す定数</a></li>
  <li><a href="/blog/20201113150850.html">UINT16_MAX - uint16_tの最大値を表す定数</a></li>
  <li><a href="/blog/20201129082751.html">INT32_MAX - int32_tの最大値を表す定数</a></li>
  <li><a href="/blog/20201128082751.html">INT32_MIN - int32_tの最小値を表す定数</a></li>
  <li><a href="/blog/20201110150850.html">UINT32_MAX - uint32_tの最大値を表す定数</a></li>
  <li><a href="/blog/20201118082751.html">INT64_MAX - int64_tの最大値を表す定数</a></li>
  <li><a href="/blog/20201112150850.html">INT64_MIN - int64_tの最小値を表す定数</a></li>
</ul>

<h3>C言語関数辞典</h3>

<ul>
  <li><a href="/blog/20201119084622.html">C言語関数辞典</a></li>
</ul>

<h3>参考情報</h4>

<ul>
  <li><a href="/blog/20201116090747.html">プログラミング言語Perlの実装はC言語で書かれている</a></li>
</ul>
