<h2>C99対応のC言語入門</h2>

C99規格に対応したC言語入門です。C言語入門の多くは、1999年に策定されたC99以前の内容をベースにした入門コンテンツであるため、新たにC99規格に対応したC言語入門を書きます。C99は「//」によるコメント、forで変数宣言と初期化が同時に行える構文、整数幅を指定できる整数型、複素数の数学関数など、実用的な機能が追加されたC言語仕様のバージョンです。

<ul>
  <li><a href="/blog/20201206125815.html">C99の新機能</a></li>
</ul>

C11という新しい仕様が作成されていますが、C11のバージョンアップは比較的小さなものであるため、C99は2021年においてもC言語のベーシックでモダンな書き方です。

<h3>C言語の開発環境構築</h3>

<ul>
  <li><a href="/blog/20201124085008.html">C言語の開発環境の構築</a></li>
</ul>

<h3>コンパイル</h3>

<ul>
  <li><a href="/blog/20201211104422.html">C言語ソースコードを実行する手順</a></li>
  <li><a href="/blog/20201214140830.html">C言語ソースコードをコンパイルする</a></li>
  <li><a href="/blog/20201215105104.html">リンクして実行ファイルを生成する</a></li>
  <li><a href="/blog/20201216101527.html">実行ファイルを実行する</a></li>
  <li><a href="/blog/20210201153503.html">ヘッダファイルのインクルードガード</a></li>
  <li><a href="/blog/20210202153503.html">型宣言ヘッダ - ヘッダファイル間の読み込みを減らす</a></li>
  <li><a href="/blog/20210622081112.html">分割コンパイル手法の解説</a></li>
</ul>

<h3>基本文法</h3>

<ul>
  <li><a href="/syntax.html">C言語の基本文法</a></li>
</ul>

<h3>型</h3>

<ul>
  <li><a href="/types.html">C言語の型</a></li>
</ul>

<h3>標準Cライブラリ</h3>

<ul>
  <li><a href="/library.html">標準Cライブラリ</a></li>
</ul>

<h3>プリプロセッサ</h3>

<ul>
  <li><a href="/preprocessor.html">プリプロセッサ</a></li>
</ul>

<h3>オブジェクト指向C言語</h3>

<ul>
  <li><a href="/blog/20210212090234.html">オブジェクト指向C言語</a></li>
</ul>

<h3>動的なデータ構造</h3>

<ul>
  <li><a href="/blog/20210323082708.html">C言語における動的配列は自作するかライブラリを使う</a></li>
  <li><a href="/blog/20210324082708.html">C言語における連想配列は自作するかライブラリを使う</a></li>
</ul>

<h3>C言語と関連が深いコンピューターアーキテクチャ</h3>

<ul>
  <li><a href="/blog/20210224132505.html">負数を表現する2の補数表現</a></li>
  <li><a href="/blog/20201116090747.html">プログラミング言語Perlの実装はC言語で書かれている</a></li>
</ul>

<h3>C言語の疑問</h3>

<ul>
  <li><a href="/blog/20210127140803.html">C言語にGCってないの?</a></li>
</ul>
