<h2>C/C++をPerlからバインディングするためのC言語入門</h2>

C/C++をPerlからバインディングするためのC言語入門のサイトです。C言語の入門的な記事とそれをPerlの関数として呼び出せるようにする方法について解説します。

Perlは、C言語で実装されており、C言語はPerlの基盤となっています。比較演算子の優先順位がC言語と同じ、if分やfor文などのブロック構文「{}」がC言語と同じなど、C言語ユーザーが慣れ親しんだ文法で、記述できることが特徴です。

Perlは、C言語の文法の些細な欠点を指摘し続ける(本当にそれが欠点かどうかもよくわかりませんが)というよりも、C言語に慣れ親しんだユーザーが、Perlを使ったときに、同じように使えるということが意識されています。

C++言語は、名前の点で、ベターC言語だと感じられるかもしれませんが、特にそのようなことはないです。MicrosoftがヘビーなC++ユーザー(Visual C++)であったため、多くのライブラリがC++用に開発されてきたというだけなのかもしれません。

このサイトでは、C言語とC++言語は、Perlからバインディングできるという点では、対等に扱われます。ただし、C++には名前解決のマングリング問題があること、PerlがC言語で実装されているので、C言語バインディングが一番素直な方法であることなどから、主にC言語についての解説を行い、そこから応用としてC++のバインディングの解説をするという流れになります。
