<h2>標準Cライブラリ</h2>

標準Cライブラリの紹介です。よく使う関数を中心に紹介しています。

<h3>stdlib.h</h3>

「stdlib.h」標準ヘッダをインクルードした場合に利用できる関数。

<ul>
  <li><a href="/blog/20210210082644.html">malloc関数 - メモリの動的確保</a></li>
  <li><a href="/blog/20210209082644.html">calloc関数 - メモリの動的確保と0初期化</a></li>
</ul>

<h3>stdint.h</h3>

<ul>
  <li><a href="/blog/20201114090747.html">INT8_MIN - int8_tの最小値を表す定数</a></li>
  <li><a href="/blog/20201115090747.html">INT8_MAX - int8_tの最大値を表す定数</a></li>
  <li><a href="/blog/20201121084622.html">INT16_MIN - int16_tの最小値を表す定数</a></li>
  <li><a href="/blog/20201125090559.html">INT16_MAX - int16_tの最大値を表す定数</a></li>
  <li><a href="/blog/20201128082751.html">INT32_MIN - int32_tの最小値を表す定数</a></li>
  <li><a href="/blog/20201129082751.html">INT32_MAX - int32_tの最大値を表す定数</a></li>
  <li><a href="/blog/20201112150850.html">INT64_MIN - int64_tの最小値を表す定数</a></li>
  <li><a href="/blog/20201118082751.html">INT64_MAX - int64_tの最大値を表す定数</a></li>
  <li><a href="/blog/20201123084622.html">UINT8_MAX - uint8_tの最大値を表す定数</a></li>
  <li><a href="/blog/20201113150850.html">UINT16_MAX - uint16_tの最大値を表す定数</a></li>
  <li><a href="/blog/20201110150850.html">UINT32_MAX - uint32_tの最大値を表す定数</a></li>
  <li><a href="/blog/20201108150850.html">UINT64_MAX - uint64_tの最大値を表す定数</a></li>
</ul>

<h3>float.h</h3>

<ul>
  <li><a href="/blog/20201210102403.html">DBL_MAX - doubleの最小値を表す定数</a></li>
  <li><a href="/blog/20201205125815.html">FLT_MAX - doubleの正の最小値を表す定数</a></li>
</ul>

<h3>stddef.h</h3>

<ul>
  <li><a href="/blog/20210213090234.html">NULL - ヌルポインタ定数</a></li>
</ul>

<h3>assert.h</h3>

<h3>stdio.h</h3>

<h3>string.h</h3>

<h3>inttypes.h</h3>

<h3>stdint.h</h3>

<h3>C言語関数辞典</h3>

C言語関数辞典のサイトの紹介です。C99対応のC言語入門では、実務で利用頻度の高い関数を中心に扱っているので、すべての関数を知りたい場合に、非常に参考になります。

<ul>
  <li><a target="_blank" href="http://www.c-tipsref.com/">C言語関数辞典</a></li>
</ul>
