<h2>標準Cライブラリ</h2>

標準Cライブラリの紹介です。よく使う関数を中心に紹介しています。

標準Cライブラリは、標準ヘッダを<a href="/blog/20210203153019.html">インクルード</a>すると使えるようになります。

<pre>
#include <string.h>
</pre>

<h3>標準Cライブラリの一覧</h3>

よく使う標準Cライブラリの一覧です。ヘッダ名で紹介しています。

<table>
  <tr><td><a href="/blog/20210303101711.html">string.h</a></td><td>文字列操作やメモリコピーの関数など</td></tr>
  <tr><td><a href="/blog/20210227091654.html">stdlib.h</a></td><td>メモリ確保関数など</td></tr>
  <tr><td><a href="/blog/20210220132505.html">stdint.h</a></td><td>サイズ保証がある整数型などを定義</td></tr>
  <tr><td><a href="/blog/20210219132505.html">float.h</a></td><td>浮動小数点型の最大値・最小値など</td></tr>
  <tr><td><a href="/blog/20210125140655.html">stddef.h</a></td><td>NULLの定義など</td></tr>
  <tr><td><a href="/blog/20210316082708.html">assert.h</a></td><td>アサーション関数</td></tr>
</table>

<!--

stdio.h

inttypes.h

-->

<h3>標準Cライブラリの実装はどこにあるの?</h3>

標準Cライブラリの実装は、それぞれの処理系で実装されており、Cコンパイラはデフォルトで、それをリンクするので、ヘッダファイルを読み込むだけで利用できます。

<a href="https://linux.perlzemi.com/blog/20201216103956.html">gcc</a>の場合は、glibcというライブラリで標準Cライブラリが実装されています。

<h3>C言語関数辞典</h3>

C言語関数辞典のサイトの紹介です。C99対応のC言語入門では、実務で利用頻度の高い関数を中心に扱っているので、すべての関数を知りたい場合に、非常に参考になります。

<ul>
  <li><a target="_blank" href="http://www.c-tipsref.com/">C言語関数辞典</a></li>
</ul>
