<h2>プリプロセッサ</h2>

プリプロセッサとは、C言語のコンパイルを行う前に、ソースコードの置換処理を行うプログラムのことです。コンパイルを行う前というのは、もう少し具体的に書くと、字句解析が始まる前です。C言語コンパイラによって、自動的に呼び出されます。


<h3>プリプロセッサ命令</h3>

プリプロセッサ命令は、プリプロセッサが持っている命令のことです。よく使うものに「#include」や「#define」があります。

<ul>
  <li><a href="/blog/20210203153019.html">#include - ファイルのインクルード</a></li>
  <li><a href="/blog/20210302083009.html">#defineによるマクロの記述</a></li>
  <li><a href="/blog/20210124140655.html">#defineによる関数マクロ</a></li>
  <li><a href="/blog/20210305101711.html">プリプロセッサ条件分岐</a></li>
</ul>

<h3>定義済みマクロ</h3>

<ul>
  <li><a href="/blog/20210528085632.html">__FILE__ - ファイル名</a></li>
  <li><a href="/blog/20210515085632.html">__LINE__ - 行番号</a></li>
</ul>
