<h2>C言語の型</h2>

C言語で使う型の紹介です。

<h4>文字を表現する型</h4>

<ul>
  <li><a href="/blog/20201204103322.html">char - 文字を表現する型</a></li>
  <li><a href="/blog/20201208125815.html">char* - 文字列を表現する型</a></li>
</ul>

<h4>伝統的な整数型</h4>

<ul>
  <li><a href="/blog/20201209105820.html">C言語の伝統的な整数型</a></li>
</ul>

<h4>C99で導入された幅と符号あり・なしが保証される整数型</h4>

<ul>
  <li><a href="/blog/20201117090747.html">int8_t - 符号あり8bit整数型</a></li>
  <li><a href="/blog/20201126090559.html">int16_t - 符号あり16bit整数型</a></li>
  <li><a href="/blog/20201130082751.html">int32_t - 符号あり32bit整数型</a></li>
  <li><a href="/blog/20201127082751.html">int64_t - 符号あり64bit整数型</a></li>
  <li><a href="/blog/20201122084622.html">uint8_t - 符号なし8bit整数型</a></li>
  <li><a href="/blog/20201120084622.html">uint16_t - 符号なし16bit整数型</a></li>
  <li><a href="/blog/20201111150850.html">uint32_t - 符号なし32bit整数型</a></li>
  <li><a href="/blog/20201109150850.html">uint64_t - 符号なし64bit整数型</a></li>
</ul>

<h4>浮動小数点型</h4>

<ul>
  <li><a href="/blog/20201202133213.html">float - 単精度(32bit)浮動小数点型</a></li>
  <li><a href="/blog/20201203133213.html">double - 倍精度(64bit)浮動小数点型</a></li>
</ul>
